nameOverride: ""
fullnameOverride: ""
replicaCount: 1

image:
  registry: "docker.io"
  repository: chocobozzz/peertube
  pullPolicy: IfNotPresent
  # [1] PeerTube 안정 버전 고정
  tag: "v6.3.3"

imagePullSecrets: []

containerCommand:
  - gosu
  - peertube
  - npm
  - start

extraEnv: []
envFrom: []
initcontainers: {}
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
extraVolumes: []
extraVolumeMounts: []
tolerations: []
affinity: {}
nodeSelector: {}

persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  storageClassName: "gp2"
  storage: "10Gi"
  existingClaim: ""

resources:
  limits:
    cpu: 2000m
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 1Gi

livenessProbe:
  httpGet:
    path: /
    port: peertube

readinessProbe:
  httpGet:
    path: /
    port: peertube

autoscaling:
  enabled: false

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: "peertube-sa"

service:
  enabled: true
  type: LoadBalancer
  port: 80

ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

peertube:
  log_level: info
  trust_proxy: '10.0.0.0/8'
  webserver_hostname: chart-example.local
  webserver_port: 80
  webserver_https: false
  # [2] 비밀번호 (Base64 형식)
  secret: "Zml4ZWRzZWNyZXQ="
  existingSecret: ""
  existingSecretKey: "secret"

  admin:
    email: "admin@example.com"
    password: "cGFzc3dvcmQ="
    existingSecret: ""
    # [3] 에러 방지용 빈 키 설정 복구
    existingSecretKeys:
      email: ""
      password: ""

  s3:
    enabled: false

  smtp:
    enabled: false

# [4] 외부 DB 설정 (안 써도 비밀번호 필수! ⭐여기가 에러 원인이었음⭐)
externalDatabase:
  enabled: false
  hostname: "peertube-postgres-rw"
  database: "peertube"
  username: "peertube"
  password: "cGFzc3dvcmQ=" # 가짜 비번이라도 꼭 있어야 함!
  existingSecret: ""
  existingSecretKeys:
    hostname: ""
    database: ""
    username: ""
    password: ""

# [5] 외부 캐시 설정 (안 써도 비밀번호 필수!)
externalValkey:
  enabled: false
  hostname: "valkey-primary"
  password: "cGFzc3dvcmQ=" # 가짜 비번이라도 꼭 있어야 함!
  existingSecret: ""
  existingSecretKey: "valkey-password"

# [6] 내부 DB 설정 (이미지 버전 고정 & 비밀번호)
postgresql:
  enabled: true
  image:
    tag: "16.1.0-debian-11-r8"
  auth:
    database: peertube_production
    username: peertube
    password: "cGFzc3dvcmQ="
    postgresPassword: "cGFzc3dvcmQ="
    existingSecret: ""

# [7] 내부 캐시 설정 (이미지 버전 고정 & 비밀번호)
valkey:
  enabled: true
  image:
    tag: "7.2.4-debian-11-r2"
  auth:
    password: "cGFzc3dvcmQ="
    existingSecret: ""