replicaCount: 1
image:
  registry: "docker.io"
  repository: chocobozzz/peertube
  pullPolicy: IfNotPresent
  tag: "v6.3.3"

# [에러 해결] 리스트 설정 삭제
# imagePullSecrets: []
# containerCommand: []

serviceAccount:
  create: true
  automount: true
  name: "peertube-sa"
  annotations: {}

persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  storageClassName: "gp2"
  storage: "10Gi"
  existingClaim: ""

service:
  enabled: true
  type: LoadBalancer
  port: 80

peertube:
  log_level: info
  trust_proxy: '10.0.0.0/8'
  webserver_hostname: localhost
  webserver_port: 80
  webserver_https: false
  secret: "peertube-secret-random-12345"
  existingSecret: ""
  existingSecretKey: "secret"
  admin:
    email: "admin@example.com"
    password: ""
    existingSecret: ""
    existingSecretKeys:
      email: "-"
      password: "-"
  s3:
    enabled: true
    endpoint: "s3.amazonaws.com"
    streaming_playlists_bucket: "dummy"
    web_videos_bucket: "dummy"
    user_exports_bucket: "dummy"
    original_video_files_bucket: "dummy"
    access_key_id: ""
    secret_access_key: ""
    upload_acl_public: "public-read"
    upload_acl_private: "private"
    existingSecret: ""
    existingSecretKeys:
      endpoint: "-"
      streaming_playlists_bucket: "-"
      web_videos_bucket: "-"
      user_exports_bucket: "-"
      original_video_files_bucket: "-"
      access_key_id: "-"
      secret_access_key: "-"

smtp:
  host: ""
  port: 25
  user: ""
  password: ""
  tls: false
  disable_starttls: false
  from_address: ""
  existingSecret: ""
  existingSecretKeys:
    host: "-"
    port: "-"
    username: "-"
    password: "-"

externalDatabase:
  enabled: true
  hostname: "dummy"
  database: "peertube"
  username: "peertube"
  password: ""
  existingSecret: ""
  existingSecretKeys:
    hostname: "-"
    database: "-"
    username: "-"
    password: "-"

externalValkey:
  enabled: false
  hostname: ""
  password: ""
  existingSecret: ""
  existingSecretKey: "-"

postgresql:
  enabled: false

valkey:
  enabled: true
  auth:
    password: "peertube-valkey-password"
    existingSecret: ""

ingress:
  enabled: false

autoscaling:
  enabled: false