replicaCount: 1

image:
  registry: "docker.io"
  repository: chocobozzz/peertube
  pullPolicy: IfNotPresent
  tag: "v6.3.3"

serviceAccount:
  create: true
  automount: true
  name: "peertube-sa"
  annotations: {}

persistence:
  enabled: true
  accessModes: ["ReadWriteOnce"]
  storageClassName: "gp2"
  storage: "10Gi"
  existingClaim: ""

service:
  enabled: true
  type: LoadBalancer
  port: 80

peertube:
  log_level: info
  trust_proxy: '10.0.0.0/8'
  webserver_hostname: "localhost"
  webserver_port: 80
  webserver_https: false
  secret: "peertube-secret-random-12345"
  existingSecret: ""
  existingSecretKey: "secret"

  admin:
    email: "admin@example.com"
    password: "원하는_관리자_비밀번호"
    existingSecret: ""
    existingSecretKeys:
      email: ""
      password: ""

  s3:
    enabled: true
    endpoint: "s3.amazonaws.com"
    region: "us-east-1"
    bucket: "사용자님의_S3_버킷명"
    accessKey: ""
    secretKey: ""

  smtp:
    enabled: false
    hostname: ""
    port: 25
    username: ""
    password: ""
    from_address: ""
    tls: false
    existingSecret: ""
    existingSecretKey: ""

externalDatabase:
  enabled: true
  hostname: "사용자님의_RDS_ENDPOINT"
  database: "peertube"
  username: "peertube"
  password: "사용자님의_RDS_PASSWORD"
  existingSecret: ""
  existingSecretKeys:
    hostname: ""
    database: ""
    username: ""
    password: ""

externalValkey:
  enabled: false
  hostname: ""
  password: ""
  existingSecret: ""
  existingSecretKey: ""

postgresql:
  enabled: false

valkey:
  enabled: true
  auth:
    password: "peertube-valkey-password"
    existingSecret: ""

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi